{% extends "base.html" %}

{% block body %}
  <h1>新規作成</h1>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="table-responsive">
      <table class="table">
        <tr>
          <td>{{ form.content.label }}</td>
          <td>{{ form.content }}</td>
        </tr>
        <tr>
          <td>{{ form.body.label }}</td>
          <td>{{ form.body }}</td>
        </tr>
        <tr>
          <td>{{ form.image.label }}</td>
          <td>{{ form.image }}</td>
        </tr>
      </table>
    </div>
    <button class="btn btn-primary" type="submit">送信</button>
  </form>
{% endblock %}
