{% extends "base.html" %}
{% block body %}

<div class="row row-eq-height">
  {% for blog in blogs %}
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <div class="thumbnail">
        <h3><a href="{% url 'detail' blog.id %}">{{ blog.content }}</a></h3>
        <img src="{{ blog.image.url }}">
        <div class="caption">
          <p>{{ blog.summary }}</p>
          <p>{{ blog.posted_date|date:"Y/m/d" }}</p>
        </div>
      </div>
    </div>
  {% endfor %}
</div>

<nav aria-label="Page navigation example">
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li>
        <a href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
    {% endif %}
    {% for page in paginator.page_range %}
      <li{% if page == page_obj.number %} class="active"{% endif %}><a href="?page={{ page }}">{{ page }}</a></li>
    {% endfor %}
    {% if page_obj.has_next %}
      <li class="page-item">
        <a href="?page={{ page_obj.next_page_number }}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    {% endif %}
  </ul>
</nav>

{% endblock %}
